@{
    ViewData["Title"] = "ERROR";
}

ret
<a class="btn btn-success" data-toggle="modal" data-target=""><span>Test</span></a>

<div class="modal fade Errormodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                This is a error.
                <button data-dismiss="modal" class="close">OK</button>
            </div>
        </div>
    </div>
</div>