@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/css/StyleSheet3.css" />
}

<body class="body-content">
    <h2><center>HOME PAGE</center></h2>

    <p>WELCOME @ViewData["Name"]<br />
    Your Current Balance is <text style="color:red"><b>$@ViewData["CurrentBalance"]</b></text><br />
    Please select your preferred transaction.</p>
    <br /> <br />
    <div class="container">
        <center>
            <div class="row">
                <div class="col-md-4">
                    <form action="~/User/Deposit" method="POST">
                        <input type="submit" class="btn btn-success" value="DEPOSIT" />
                    </form>
                    <br />
                    <br />
                    <form action="~/User/Transfer" method="POST">
                        <input type="submit" class="btn btn-success" value="TRANSFER" />
                    </form>
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <form action="~/User/Withdraw" method="POST">
                        <input type="submit" class="btn btn-success" value="WITHDRAW" />
                    </form>
                    <br />
                    <br />
                    <form action="~/User/Transactions" method="POST">
                        <input type="submit" class="btn btn-success" value="TRANSACTIONS" />
                    </form>
                    <br />
                    <br />
                </div>
            </div>
        </center>
    </div>
</body>