@{  
    //Neke Kwetey
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/css/StyleSheet3.css" />
}

<body class="homebox">
    <h2>HOME</h2>
    <br />
    <br />
    <p style="font-size:large">
        WELCOME @ViewData["Name"]<br />
        Your Current Balance is <text style="color:red"><b>$@ViewData["CurrentBalance"]</b></text><br />
        Please select your preferred transaction.
    </p>
    <br /> <br />
    <div style="width: 75%" class="container">
        <center>
            <div style="width: 100%" class="row">
                <div style="width:45%" class="col-md-4">
                    <form style="width: 100%" action="~/User/Deposit" method="POST">
                        <input style="width: 100%;font-size:13px" type="submit" class="btn btn-success" value="DEPOSIT" />
                    </form>
                    <br />
                    <br />
                    <br />
                    <br />
                    <form style="width: 100%" action="~/User/Transfer" method="POST">
                        <input style="width: 100%;font-size:13px" type="submit" class="btn btn-success" value="TRANSFER" />
                    </form>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div style="width: 55%" class="col-md-4">
                    <form style="width: 100%" action="~/User/Withdraw" method="POST">
                        <input style="width: 100%;font-size:13px" type="submit" class="btn btn-success" value="WITHDRAW" />
                    </form>
                    <br />
                    <br />
                    <br />
                    <br />
                    <form style="width: 100%" action="~/User/Transactions" method="POST">
                        <input style="width: 100%;font-size:13px"  type="submit" class="btn btn-success" value="HISTORY" />
                    </form>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </center>
    </div>
</body>