@{
    ViewData["Title"] = "LoginPage";
}

<body style="background-color:lavender">
    
    <br />
    <br />
    <br />
    <center>
        <p style="font-family:Lucida Console"><p style="font-size:xx-large"><strong>Please input your login credentials.</strong></p>
        <form action="~/User/Mlogin" method="POST">
            Username: <input type="text" name="username" required /><br /><br />
            PIN: <input type="number" name="pin" required /><br /><br />
            
            <input type="submit" value="Login" class="btn btn-link" />
        </form>

    </center>
</body>