
@{
    ViewData["Title"] = "Transfer";
}

<h2>Transfer</h2>

<p style="font-family:Lucida Console"><p style="font-size:xx-large"><strong>Please input bank credentialsan amount.</strong></p>
<form action="~/User/TransferAmt" method="post">
    To: <input type="number" name="bankaccout" required /><br /><br />
    Amount: <input type="number" name="amount" required /><br /><br />

    <input type="submit" value="Transfer" class="btn btn-link" />
</form>