
@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/css/StyleSheet2.css" />
}

<body class="container">
    <div class="loginbox">
        <h2><center>TRANSFER</center></h2>
        <h3> Please input bank credentials and amount.</h3>
        <p>FROM</p>
        <select name="myaccount">
            <option value="myaccount" selected>MY ACCOUNT</option>
        </select>
        <form method="POST" action="~/User/TransferAmt">
            <p>TO</p>
            <input type="number" name="bankaccount" pattern="[0-9]{4}" title=" () Enter a valid bank accounnt" required><br />
            <p>PIN</p>
            <input type="number" name="amount" title=" (4-digit nnumber) Enter an amount" required><br />
            <center>
            <input type="submit" value="Transfer" class="btn btn-success" role="button" />
            </center>
        </form>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br />
    <a asp-area="" asp-controller="User" asp-action="Home"><div class="h1"><span class="glyphicon glyphicon-arrow-left" style="color:coral">Back</span></div></a>
</body>

