@{//Neke Kwetey

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>>@ViewData["Title"] - atmSimulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/css/NewLayout/css/main.css"></script><![endif]-->
    <link rel="stylesheet" href="~/css/NewLayout/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="~/css/NewLayout/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/css/NewLayout/css/ie9.css" /><![endif]-->
    @RenderSection("styles", false);
</head>

<body class="right-sidebar" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <h4 id="logo"><a >GAMARIC </a></h4>
                <br />
            </div>

            <section id="hero" class="container">
                <header>
                    <h2>
                        <br />
                        Welcome to GAMARIC ATM
                        <br />
                    </h2>
                </header>
            </section>
        </div>
        <div class="row 150%">
            <div class="8u 12u(narrower)">
                @RenderBody()
            </div>
            <div class="4u 12u(narrower)">
                <section id="sidebar">
                    <section>
                        <br />
                        <a href="#" class="image featured"><img src="~/css/img_3 - Copy.png" alt="" /></a>
                        <header>
                            <h3>Our Staff</h3>
                        </header>
                        <p>
                            We have a diverse staff from over 145 countries, and over 350 branches
                            worlwide. We continuously strive to improve our staffs skills with
                            training programs and conferences.
                        </p>
                    </section>
                    <section>
                        <a href="#" class="image featured"><img src="~/css/img_4.png" alt="" /></a>
                        <header>
                            <h3>Our Promise to you</h3>
                        </header>
                        <p>
                            We're always striving to make you as comfortable as possible. For any concerns
                            or complaints, please contact us directly at <strong>cservices@gamaric.com</strong>.
                        </p>
                        <br />
                    </section>
                </section>

            </div>
        </div>
        <div id="footer-wrapper">
            <div id="footer" class="container">
                <div>
                    <p>
                        <strong>Providing ATM Services Anytime, Anywhere, Always and Forever.</strong>
                    </p>
                </div>
                <ul class="menu">
                    <li style="color:coral">&copy; 2018 GAMARIC. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
        <script src="~/css/NewLayout/js/jquery.min.js"></script>
        <script src="~/css/NewLayout/js/jquery.dropotron.min.js"></script>
        <script src="~/css/NewLayout/js/skel.min.js"></script>
        <script src="~/css/NewLayout/js/util.js"></script>
        <!--[if lte IE 8]><script src="~/css/NewLayout/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/css/NewLayout/js/main.js"></script>
</body>
</html>