<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - atmSimulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/css/NewLayout/css/main.css"></script><![endif]-->
    <link rel="stylesheet" href="~/css/NewLayout/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="~/css/NewLayout/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/css/NewLayout/css/ie9.css" /><![endif]-->
</head>
<body class="homepage">
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <h4 id="logo"><a href="index.html">GAMARIC </a></h4>
                <br />
            </div>

            <section id="hero" class="container">
                <header>
                    <h2>
                        Welcome to GAMARIC ATM
                    </h2>
                </header>
            </section>
        </div>

        @RenderBody()
       
        <div id="footer-wrapper">
            <div id="footer" class="container">
                <div class="major">
                    <p>
                        <strong>Providing ATM Services Anytime, Anywhere, Always and Forever.</strong>
                    </p>
                </div>
                <ul class="menu">
                    <li style="color:coral">&copy; 2018 GAMARIC. All rights reserved.</li>
                </ul>
            </div>
        </div>

        <script src="~/css/NewLayout/js/jquery.min.js"></script>
        <script src="~/css/NewLayout/js/jquery.dropotron.min.js"></script>
        <script src="~/css/NewLayout/js/skel.min.js"></script>
        <script src="~/css/NewLayout/js/util.js"></script>
        <!--[if lte IE 8]><script src="~/css/NewLayout/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/css/NewLayout/js/main.js"></script>
    </body>
</html>
