@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<li><a class="btn btn-default" asp-area="" asp-controller="User" asp-action="Index">Go Home</a></li>
<p>Use this area to provide additional information.</p>

