@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <section class="container">
        <header class="major">
            <h2>GAMARIC ATM SERVICES</h2>
            <p>
                We are the leading ATM Service provide worldwide. Our motto is <br /> <strong>Providing ATM 
                Services Anytime, Anywhere, Always and Forever.</strong> 
            </p>
        </header>
        <div class="row features">
            <section class="4u 12u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="~/css/NewLayout/images/pic03.jpg" alt="" /></a>
                </div>
                <p>
                    We have a diverse staff from over 145 countries, and over 350 branches
                    worlwide.
                </p>
            </section>
            <section class="4u 12u feature">
                <div class="image-wrapper">
                    <a class="image featured"><img src="~/css/NewLayout/images/pic04.jpg" alt="" /></a>
                </div>
                <p>
                    We're always striving to make you as comfortable possible. Please contact
                    us at <strong>cservices@gamaric.com</strong>
                </p>
            </section>
            <section class="4u 12u feature">
                <a asp-area="" asp-controller="User" asp-action="Login"><h1><span: class="glyphicon glyphicon-user"></span:></h1></a>
                <br />
                <p>
                    Click the icon below to logon to the online ATM.
                </p>
            </section>
        </div>
    </section>
</div>

